#breadcrumbs li {
  display: inline-block;
  float: left;
}

#breadcrumbs li:not(:first-child) {
  margin-left: 0.4em;
}

#breadcrumbs li:not(:first-child):before {
  content: '>';
  margin-right: 0.4em;
}
/* Breadcrum appearance and hierachy */

#sitemaps li {
  float: left;
  color: #ffffff;
  clear: both;
}

#sitemaps a {
  float: left;
  color: #ffffff;
}


#sitemaps .title {
  float: left;
  color: black;
}
/* Styling sitemap children */
